.language-selector {
  position: absolute;
  z-index: 20;
  top: 16px;
  right: 16px;

  color: #2a4f98;
  text-transform: uppercase;
  font-weight: 200;

  display: flex;
  gap: 4px;
}

.language-selector > .arrow {
  height: 20px;
}

.language-selector > ul.language-list {
  list-style: none;
}

.language-selector > ul.language-list > li.language > a {
  text-decoration: none;
  color: #2a4f98;
}
