.tile {
  /* border: dashed 1px; */
  background-size: 100% 100%;
}

.tile.__1 {
  position: relative;
  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-1.jpg");
}

/* illustrations */

.tile.__1 > .illustration.__1 {
  width: 200px;
  
  position: absolute;
  top: 190px;
  left: 0;

  cursor: pointer;
}

/* gifs */

.tile.__1 > .gif.__1 {
  width: 400px;
  
  position: absolute;
  top: 600px;
  right: 150px;

  cursor: pointer;
}

.tile.__1 > .gif.__2 {
  width: 570px;
  
  position: absolute;
  bottom : 0;
  left: calc(35% - 275px);

  cursor: pointer;
}

.tile.__1 > .gif.__3 {
  width: 120px;
  
  position: absolute;
  top : calc(21%);
  left: calc(10px);

  cursor: pointer;
}

/* videos */
.tile.__1 > .video-wrapper.__1 {
  top: 343px;
  left: 80px;
}

.tile.__1 > .video-wrapper.__1 > .thumb-wrapper > .thumb {
  width: 700px;
}

.tile.__1 > .video-wrapper.__2 {
  top: 343px;
  right: 80px;
}

.tile.__1 > .video-wrapper.__2 > .thumb-wrapper > .thumb {
  width: 250px;
}

.tile.__1 > .about-button-wrapper {
  position: absolute;
  top: 90px;
  right: 120px;
}

.tile.__1 > .about-button-wrapper > button.about-button {
  position: relative;

  background-color: transparent;
  border: none;

  color: #2A4F98;
  font-size: 24px;
  font-family: 'Exo', sans-serif;

  letter-spacing: 1px;

  font-weight: 200;

  text-decoration: underline;

  cursor: pointer;

  user-select: none;
}

.tile.__1 > .about-button-wrapper > button.about-button > img {
  position: absolute;
  left: 40px;
  top: -92px;

  width: 300px;

  user-select: none;
}
