.tile {
  background-size: 100% 100%;
}

.tile.__9 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-9.jpg");
}

/* illustrations */
.tile.__9 > .illustration.__1 {
  width: 650px;
  
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 0;
}

.tile.__9 > .illustration.__2 {
  width: 170px;
  
  position: absolute;
  top: -120px;
  left: 10px;
  z-index: 0;
}

/* gifs */

.tile.__9 > .photo.__1 {
  width: 700px;
  
  position: absolute;
  bottom: 25%;
  right: 35%;
}

/* videos */

.tile.__9 > .video-wrapper.__10 > .thumb-wrapper > .thumb {
  width: 300px;
}

.tile.__9 > .video-wrapper.__10 {
  top: 10%;
  right: 20%;
  z-index: 2;
}

.tile.__9 > .partners-button-wrapper {
  position: absolute;
  bottom: 19%;
  right: 21%;
}

.tile.__9 > .partners-button-wrapper > button.partners-button {
  position: relative;
  text-align: left;
  width: 140px;

  background-color: transparent;
  border: none;

  color: #68b7b0;
  font-size: 24px;
  font-family: 'Exo', sans-serif;

  letter-spacing: 1px;

  font-weight: 200;

  text-decoration: underline;

  cursor: pointer;

  user-select: none;
}

.tile.__9 > .partners-button-wrapper > button.partners-button > img {
  position: absolute;
  left: 60px;
  top: 0px;

  width: 200px;

  user-select: none;
}

