.tile {
  background-size: 100% 100%;
}

.tile.__9 {
  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-9.jpg");
}

/* illustrations */

.tile.__9 > .illustration.__1 {
  width: 650px;
  
  position: absolute;
  top: 120px;
  left: 50px;
  z-index: 0;
  cursor: pointer;
}

/* gifs */

.tile.__9 > .photo.__1 {
  width: 350px;
  
  position: absolute;
  bottom: 23%;
  right: 35%;

  cursor: pointer;
}

/* videos */

.tile.__9 > .video {
  position: absolute;
  cursor: pointer;
}

.tile.__9 > .video.__1 {
  top: 10%;
  right: 20%;

  z-index: 2;
}

.tile.__9 > .video.__1 > .thumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile.__9 > .video.__1 > .thumb-wrapper > .thumb {
  width: 300px;
}

.tile.__9 > .video.__1 > .thumb-wrapper > .play {
  position: absolute;

  width: 50px;
}
