.tile {
  background-size: 100% 100%;
}

.tile.__4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-4.jpg");
}

/* illustrations */

.tile.__4 > .illustration.__1 {
  width: 200px;
  
  position: absolute;
  top: 120px;
  left: 0;

  cursor: pointer;
}

.tile.__4 > .illustration.__2 {
  width: 400px;
  
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: 1;

  cursor: pointer;
}

.tile.__4 > .illustration.__3 {
  width: 200px;
  
  position: absolute;
  bottom: 280px;
  right: 470px;

  cursor: pointer;
}

.tile.__4 > .illustration.__4 {
  width: 480px;
  
  position: absolute;
  top: 60px;
  right: 60px;

  cursor: pointer;
}

/* videos */

.tile.__4 > .video-wrapper.__5 > .thumb-wrapper > .thumb {
  width: 700px;
}

.tile.__4 > .video-wrapper.__5 {
  top: 400px;
  left: 60px;
}

.tile.__4 > .video-wrapper.__6 > .thumb-wrapper > .thumb {
  width: 250px;
}

.tile.__4 > .video-wrapper.__6 {
  bottom: 200px;
  right: 200px;
}
