.tile {
  background-size: 100% 100%;
}

.tile.__12 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;

  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-12.png");
}

/* illustrations */

.tile.__12 > .illustration.__1 {
  width: 400px;
  
  position: absolute;
  top: 80px;
  right: 100px;
  
  cursor: pointer;
}

.tile.__12 > .illustration.__2 {
  width: 400px;
  
  position: absolute;
  top: 80px;
  right: 100px;
  
  cursor: pointer;
}

.tile.__12 > .illustration.__3 {
  width: 400px;
  
  position: absolute;
  bottom: 50px;
  right: 30px;
  
  cursor: pointer;
}

.tile.__12 > .illustration.__4 {
  width: 600px;
  
  position: absolute;
  bottom: 30%;
  right: -80px;
  
  cursor: pointer;
}

/* gifs */

.tile.__12 > .photo.__1 {
  width: 350px;
  
  position: absolute;
  bottom: 21%;
  left: -5%;

  cursor: pointer;
}

.tile.__12 > .goodbye {
  position: absolute;
  bottom: 120px;
  left: 35%;

  font-size: 32px;
  font-weight: 600;

  color: #2a4f98;
}