.tile {
  background-size: 100% 100%;
}

.tile.__5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-5.png");
}

/* illustrations */

.tile.__5 > .illustration.__1 {
  width: 500px;
  
  position: absolute;
  top: -100px;
  right: 20px;

  cursor: pointer;
}

.tile.__5 > .illustration.__2 {
  width: 500px;
  
  position: absolute;
  bottom: 30%;
  left: 10px;
  z-index: 1;

  cursor: pointer;
}

.tile.__5 > .illustration.__3 {
  width: 400px;
  
  position: absolute;
  bottom: -10%;
  right: 30%;

  cursor: pointer;
}

/* videos */

.tile.__5 > .video-wrapper.__1 > .thumb-wrapper > .thumb {
  width: 700px;
}

.tile.__5 > .video-wrapper.__1 {
  top: 110px;
  left: 60px;
}

.tile.__5 > .video-wrapper.__2 > .thumb-wrapper > .thumb {
  width: 250px;
}

.tile.__5 > .video-wrapper.__2 {
  width: 300px;
  bottom: 34%;
  left: 28%;
  z-index: 1;
}


.tile.__5 > .cti-button-wrapper {
  position: absolute;
  top: 67%;
  right: 25%;

  z-index: 10;
}

.tile.__5 > .cti-button-wrapper > button.cti-button {
  position: relative;
  text-align: left;
  width: 100px;

  background-color: transparent;
  border: none;

  color: rgb(204, 44, 77);
  font-size: 24px;

  letter-spacing: 1px;

  font-weight: 200;

  text-decoration: underline;

  cursor: pointer;

  user-select: none;
}

.tile.__5 > .cti-button-wrapper > button.cti-button > img {
  position: absolute;
  left: -110px;
  top: -90px;

  width: 220px;

  user-select: none;
}
