@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
}

div.container {
  position: relative;

  height: 100vh;
  overflow: hidden;
}

div.container > div.navigation-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1400px);
  grid-template-rows: repeat(3, 1400px);
  
  cursor: move;
}

div.container > div.navigation-wrapper > div {
  position: relative;
}

/** ============ CONTENT ========== */
div.content {
  position: absolute;
  width: 320px;
  height: 180px;

  z-index: 1;

  cursor: pointer;
}


/** ============ MODAL ========== */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper.__hide {
  display: none;
}

.modal-wrapper > div.modal {
  width: 640px;
  height: 360px;
}
