.tile {
  background-size: 100% 100%;
}

.tile.__2 {
  background-image: url("https://cti-assets.s3.us-west-2.amazonaws.com/bg/desktop/bg-2.jpg");
}
/* illustrations */

.tile.__2 > .illustration.__1 {
  width: 400px;
  
  position: absolute;
  top: 220px;
  right: 30px;
}

.tile.__2 > .illustration.__2 {
  width: 350px;
  
  position: absolute;
  bottom: -100px;
  left: 180px;
  z-index: 1;
}

.tile.__2 > .illustration.__3 {
  width: 300px;
  
  position: absolute;
  bottom: 150px;
  left: 55%;
  z-index: 1;
}

/* gifs */

.tile.__2 > .gif.__2 {
  width: 400px;
  
  position: absolute;
  top: 600px;
  right: 150px;
}

.tile.__2 > .gif.__2 {
  width: 570px;
  
  position: absolute;
  bottom : 0;
  left: calc(35% - 275px);
}

/* videos */

.tile.__2 > .video-wrapper.__3 > .thumb-wrapper > .thumb {
  width: 700px;
}

.tile.__2 > .video-wrapper.__3 {
  bottom: 240px;
  left: -100px;
}
